{% extends 'weather/base.html' %}
<h2>This is your preview</h2>
{% block content %}
    <p>Company: {{ symbol_data.companyName }}</p>
    <p>Symbol: {{ symbol }}</p>

    <form action="{{ url_for(".preview_page") }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="hidden" hidden>
              {{ form.symbol.label }}{{ form.symbol(size=20) }}
              {{ form.name.label }}{{ form.name(size=20) }}
            </div>
            <input type="submit" value="Go">
            {{ form.portfolios.label }}{{ form.portfolios() }}
    </form>
          
{% endblock content %}