<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for(".home") }}">Home</a></li>
                    {%if g.user %}
                    <li><a href="{{ url_for(".company_search") }}">Search</a></li>
                    <li><a href="{{ url_for(".portfolio_page") }}">Portfolio</a></li>
                    <li><a href="{{ url_for(".logout") }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for(".register") }}">Register</a></li>
                    <li><a href="{{ url_for(".login") }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% if g.user %}
                <h3>Welcome to the app {{ g.user['email'] }}</h3>
            {% endif %}
        </header>
        <main>
            {% for message in get_flashed_messages() %}
                <div class="flashed container">{{ message }}</div>
            {% endfor %}

            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>